*, html, body {
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	vertical-align:middle;	
}

.x-layout-collapsed-west {
	background-image:url(../images/diretorios.gif);
	background-repeat:no-repeat;
	background-position:center;
}

.folder .x-tree-node-icon{
	background:transparent url(../images/default/tree/folder.gif);
}

.x-tree-node-expanded .x-tree-node-icon{
	background:transparent url(../images/default/tree/folder-open.gif);
}

hr {display:none;}

img {border:none;}	

.add .x-btn-text {
	background-image: url(../images/default/drop-add.gif)
}

.del .x-btn-text {
	background-image: url(../images/default/delete.png)
}	

.save .x-btn-text {
	background-image: url(../images/default/disk_blue.png)
}

#grid{
	border:1px solid #99bbe8;
	height: 100%px;
}

.msg .x-box-mc {
    font-size:14px;
}

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

.blist .x-btn-text {
	background-image: url(list-items.gif)
}
.bmenu .x-btn-text {
	background-image: url(menu-show.gif)
}
.menu-title{
	background: #ebeadb url(../images/default/grid/grid-hrow.gif) repeat-x;
	border-bottom:1px solid #99bbe8;
	color:#15428b;
	font:bold 10px tahoma,arial,verdana,sans-serif;
	display:block;
	padding:3px;
}
