#menu {
	background: #F3F8F1;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 15em;
}
#menu li {
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menu a {
	background: #F3F8F1;
	border-bottom: 1px solid #5AA024;
	border-left: 1px solid #5AA024;
	color: #5AA024;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight:normal;
	font-size:13px;
}
#menu a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}                    
                    

.texto{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:justify;
	font-weight:normal;

}

.subtitulo{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;

}